<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookStudy"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".FriendChatActivity"
            android:exported="false" />
        <activity
            android:name=".GroupListFragment"
            android:exported="false" />
        <activity
            android:name=".fragment.FriendListFragment"
            android:exported="false" />
        <activity
            android:name=".WeChatActivity"
            android:exported="false" />
        <activity
            android:name=".WeLoginActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".OkhttpCallActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".JsonConvertActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".WorkManagerActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ThreadUiActivity" -->
        <!-- android:exported="false" /> &lt;!&ndash; <activity &ndash;&gt; -->
        <!-- android:name=".HandlerMessageActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".OkhttpCallActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>